.dart_tool/
/build/
.pub-cache/
.pub/
/android/app/debug
/android/app/profile
/android/app/release
.idea/
.flutter-plugins
.flutter-plugins-dependencies
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.firebase
/scripts/.vscode/